/* 日本地図DOM */
.japan_map{
    position: relative;
    box-sizing: content-box;
    /*max-width: 50%;*/
    margin: 15px;
    padding:20px;
    /*display: inline-block;*/
    float: left;
    /*background-color: #adf6ff;*/
}

/* 日本地図画像（スマホ対応用） */
.japan_map img{
    width: 480px;
    height: 480px;
    border: 0;
    /*
    -webkit-backface-visibility: hidden;
    */
}
/* 日本地図ボタン */
.japan_map .area_btn{
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
    border: 3px solid #333333;
    border-radius: 5px;
    background-color: #FFF;
    padding: 0.2em auto;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

/* ボタン配置（使用する日本地図画像により微調整） */
/*北海道東北*/
.japan_map .area_btn.area1{
    top: 30%;
    right: 0;
    width: 30%;
}
/*関東*/
.japan_map .area_btn.area2{
    top: 58%;
    right: 11%;
    width: 13%;
}
/*中部*/
.japan_map .area_btn.area3{
    top: 56%;
    right: 27.5%;
    width: 13%;

}
/*近畿*/
.japan_map .area_btn.area4{
    top: 65%;
    right: 44%;
    width: 13%;

}
/*中国・四国*/
.japan_map .area_btn.area5{
    top: 52%;
    left: 20%;
    width: 25%;

}
/*九州*/
.japan_map .area_btn.area6{
    top: 70%;
    left: 0;
    width: 25%;
}
/* オーバーレイ */
.japan_map .area_overlay{
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: #111;
    opacity: 0.5;
    cursor: pointer;
    float: left;
}


/* 選択前は表示を隠す */
.japan_map .pref_area{
    display: none;
}

/* 地域毎の都道府県リスト */
.japan_map .pref_list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    z-index: 3;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    background-color: #FFF;
    float: left;
}
.japan_map .pref_list > div{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #CCC;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    /* スマホユーザー向けにボタン文字サイズを調整 */
    .japan_map .area_btn{
        font-size: 4vw;
    }
}